### audio ###
audio_files/

### material ###
*.csv
plots_diagrams/
datasets/

### non-code material ###
plots_diagrams/
research_material/

### environment ###
miniconda3/
venv/
	
### OSX ###
.DS_Store

### Pycharm ###
.idea/

### tools ###
essentia/

### tutorial ###
iris_flower.ipynb